<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <boekuwzending>
                <active>0</active>
                <testmode>1</testmode>
                <title>Boekuwzending</title>
                <name>Boekuwzending</name>
                <triggerOnOrderStatus>processing,complete</triggerOnOrderStatus>
                <shipping_cost>5.99</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Boekuwzending\Magento\Model\Carrier\BoekuwzendingCarrier</model>
            </boekuwzending>
        </carriers>
    </default>
</config>